In [6]:
print ("Hello world!")

Hello world!

# Variables in Python
### variable X is equal to 22 which means value of x is 22 as Shown in print () command
### No need to speicify the data type it automatically identifies it Type () command

### Variables can overide previous variables 
### Variables are case sensitive
### Muliple values can be assingned to multiple variables
### Single values to multiple variables
### Assigning lists, dictionary, tuples and sets
### How to name variables ?
### Use of plus sign with integers and variables
### Concatination (joinig) of String and Integer

In [12]:
x = 22
print(x)

22

In [13]:
type(x)

int

In [8]:
y = 'Choclate Chip '
print(y)

Choclate Chip

In [9]:
type(y)

str

# Over-ride

## now the previous value (Choclate chip) repalced by new value (Python tutorial) and vice versa

In [5]:
y = 'Choclate chip'
y = 'Python tutorial '
print (y)

Python tutorial

# Case Sensitive
### Refer commands below for better understanding
# y = choclate chip & Y = Python tutorial

In [6]:
y = 'Choclate chip'
Y = 'Python tutorial '
print (y)

Choclate chip

In [7]:
y = 'Choclate chip'
Y = 'Python tutorial '
print (Y)

Python tutorial

# Mutiple values to Multiple variables
### check command below

In [10]:
x,y,z = 'Cheese','Cream','Bread'
print (x)
print (y)
print (z)

Cheese
Cream
Bread

# Single value to Multiple variables
### check command below

In [16]:
x = y= z = 'Cheese'
print (x)
print (y)
print (z)

Cheese
Cheese
Cheese

# Assigning (List, Dictionary, tuples and Sets)
### Step 1 - list ice_cream  with 3 string values
### Step 2 - variables assigned to list

In [17]:
ice_cream = ['Cheese','Cream','Bread']
x,y,z = ice_cream
print (x)
print (y)
print (z)

Cheese
Cream
Bread

# How to name variables?
### It's really important to consider how you name your variables there are lot of ways to assign variables of sake of understanding lets divide them into 2 categories 
### Good practice
### Bad practice

In [ ]:
# Camel Case
## Test Variable Case
testVariableCase = "Butter Chicken"

In [ ]:
# Pascal Case
## Test Variable Case
TestVariableCase = "Butter Chicken"

In [ ]:
# Snake Case
## Test Variable Case
test_variable_Case = "Butter Chicken"

# Good Practice

In [ ]:
testvar = "Butter Chicken"
test_var = "Butter Chicken"
_test_var = "Butter Chicken"
testVar = "Butter Chicken"
TestVar = "Butter Chicken"
testvar2 = "Butter Chicken"

# Bad Practice 
### Any kind of symbol like a peroid (.), backslash(\) , equal sign (=) one of these things will work within your variable

In [ ]:
2testvar = "Butter Chicken"
test-var2 = "Butter Chicken"
test var2 = "Butter Chicken"
test,var2 = "Butter Chicken"

# Use of plus sign with variables

## Two strings can be added

In [23]:
x = 'Ice Cream is my favorite' + '.'
y = 'Coconut tender icream' + '/'
print(x)
print(y)

Ice Cream is my favorite.
Coconut tender icream/

## One string and One Integer cannot be added

In [ ]:
x = 'Ice Cream is my favorite' + 2

## Two Integers can be a dded

In [30]:
y = 3 + 2
print(y)

5

In [35]:
x = 'Ice cream'
y = ' is'
z = ' my favourite.'
print(x+y+z)

Ice cream is my favourite.

In [36]:
x = 1
y = 2
z = 3
print(x+y+z)

6

# Concatinate sring and integer

In [37]:
x = 'Butter chicken'
y = '2'
print(x,y)

Butter chicken 2

# Data Types
### data types in python has a classification of the data th at is stored these classification tells you what operations can be perfomed on the data main data types are as follows

### 1 . Numeric (Integers, Float, Complex numbers)
### 2 . Sequece type  (Strings, lists, tuples,sets)
### 3 . Boolean (True & False)
### 4 . Dictionary  (

# NUMERIC

## Integers
### Intergers are whole numbers wheather they are positive or nagative use as single or in operation
### Refer below for example

In [41]:
type(12)

int

In [42]:
type(-12)

int

In [43]:
type(-12 + 100)

int

 ## Float
 ### These are decimal numbers  wheather they are positive or nagative use as single or in operation
 ### Refer below for example

In [44]:
type(10.5)

float

In [45]:
type(-10.5)

float

In [46]:
type(-12 + 10.5)

float

## Complex numbers
### These are imaginary numbers  wheather they are positive or nagative use as single or in operation ('j') is an imaginary number mostly used in vectors 
 ### No other alphabet than ('j')
  ### Refer below for example

In [47]:
 type(4j)

complex

In [48]:
 type(-4j)

complex

In [49]:
 type(12 + -4j)

complex

In [ ]:
type(3f)

# Boolean
### It has only two out puts true and false its shown as bool
### This can be used for sometthing like comparision opertator
 ### Refer below for example

In [51]:
type(True)

bool

In [53]:
type(False)

bool

In [54]:
type(1 > 5)

bool

In [55]:
(1 > 5)

False

In [56]:
1 == 1

True

# Sequece type

## Strings
### For using strings either put them in single quote, double quote or triple quote (it is also called as multiline) aslo known as apostrophes | " |
### 'I' had a good day' (this is wrong if there is a more then two single quote) (same goes for double quotes)
### "I' had a good day" (This is right format)
### """ I'had a good day with my "team" """ (This is right format)
### Strings can be indexed

In [57]:
'Single quote'

'Single quote'

In [58]:
"Double quote"

'Double quote'

In [63]:
multiline_var = """
She Sells Sea Shells
on the Sea Shore on
sunny Sundays
"""

In [64]:
print(multiline_var)

She Sells Sea Shells
on the Sea Shore on
sunny Sundays

In [65]:
"I' had a good day"

"I' had a good day"

In [72]:
"""I'had a good day with my "team" """

'I\'had a good day with my "team" '

In [74]:
type(multiline_var)

str

# Index
### indexing means one can serch with in the text. the index starts from zero
### Refer the example below

In [86]:
a = 'hello world!'

In [ ]:
### No indexing

In [87]:
print(a)

hello world!

### With indexing
### 1] print(a[:5]) (starting from 0 this gives first Five positions that means alphabets from 0 to 5 in the string)
### 2] print(a[4]) (this gives singal alphbet on fourth position in the string from left to right )
### 3] print(a[-3]) (this gives singal alphbet on fourth position in the string from Right to left )
### 4] print(a[2:5]) (in this case the from total 5 positions code skips second position and gives 3 positions as output)
### 5] a*3 (multiplies strings three times)

In [88]:
print(a[:5])

hello

In [89]:
print(a[4])

o

In [90]:
print(a[-3])

l

In [91]:
print(a[2:5])

llo

In [92]:
a*3

'hello world!hello world!hello world!'

In [93]:
a+a

'hello world!hello world!'

# lists
### lists are fantasic because they store multiple values. Strings was stored as one value multiple charcters. But a list can  store multiple seperate values 
### To make list we use | [  ] | while () & {} denotes differnt types of data types [1,2,3] indexing is like [0,1,2]
### List can have any data type in them such as ['Buttermilk',3,4.5,True]
### List with one more list within it (nested list) such as ['Buttermilk',3,4.5,['Scoops','Spoon'],True]
### lists are changeable (M) we can add or remove data once after creating it

In [96]:
[1,2,3]

[1, 2, 3]

In [97]:
['Apple','Mango','Orange']

['Apple', 'Mango', 'Orange']

In [98]:
['Buttermilk',3,4.5,True]

['Buttermilk', 3, 4.5, True]

In [99]:
['Buttermilk',3,4.5,['Scoops','Spoon'],True]

['Buttermilk', 3, 4.5, ['Scoops', 'Spoon'], True]

In [100]:
Ice_cream = ['Apple','Mango','Orange']
Ice_cream.append('Salted caramel')
Ice_cream

['Apple', 'Mango', 'Orange', 'Salted caramel']

In [101]:
Ice_cream[0] = 'Potato'
Ice_cream

['Potato', 'Mango', 'Orange', 'Salted caramel']

In [ ]:
# Indexing with nested list

In [125]:
nest_list = ['vanilla',3,['Scoops','Spoon'],True]

In [126]:
nest_list[0]

'vanilla'

In [127]:
nest_list[2]

['Scoops', 'Spoon']

In [128]:
nest_list[2][1]

'Spoon'

In [130]:
nest_list_1 = ['Buttermilk',3,4.5,['Scoops','Spoon'],True]

In [131]:
nest_list_1[0]

'Buttermilk'

In [132]:
nest_list_1[3]

['Scoops', 'Spoon']

In [137]:
nest_list_1[3][1]

'Spoon'

In [138]:
type(nest_list)

list

# Tuples
### The major difference between list and tuple is that tuples cnnaot be changed (Immutable) after creating them
### For tuples we use | ( ) | parenthisis which is going to store the data in it

In [135]:
tuple_scoops = (1,2,3,2,1)

In [136]:
type(tuple_scoops)

tuple

# Indexing in Tuple
### can find the position in tuple (tuple_scoops[0])
### cannot change or add in tuple  (tuple_scoops.append(3))
### Mostly tuple is in such cases where data is never going to change such as city name, county, location

In [140]:
tuple_scoops[0]

1

In [141]:
tuple_scoops.append(3)

AttributeError: 'tuple' object has no attribute 'append'

# Sets
#### Set is somewhat similar to list and a tuple but little different beacuse they dont have any duplicate elements another bigger difference is values in sets can not be accesed using an index because it doesn't have and index becuase it is unordered we can still loop through the items in a set with a for loop but we cannot acccess it using the bracket and then accessig it's index point
#### For sets we use curly brackets | { } |

In [147]:
daily_pints = {1,2,3}

In [148]:
type(daily_pints)

set

#### The output will give only unique values in the se named (daily_pints_log)

In [149]:
daily_pints_log = {1,2,3,31,4,22,4,3,5,51,1}
print(daily_pints_log)

{1, 2, 3, 4, 5, 51, 22, 31}

# Use Case
#### I can be use to compare two seperate sets
#### Let,s assume that we have list and a tuple that we had converted into sets it will narrow it down to its unique values and then we can compare unique value of one set to the unique value of another set then we can see what's same and what's different in them
### Refer command (using Mod { | } )
#### (print(daily_pints_log | frnd_daily_pints_log) mod symbol ( | ) is used to put both sets into one single set
### output will be only unique values between sets that means no duplicate values from both sets

### Refer command (using ampersend { & } )
#### (print(daily_pints_log & frnd_daily_pints_log) mod symbol ( & ) is used to put both sets into one single set
### output will be all matchig values between two sets that means which values show up in both sets 

### Refer command (using ampersend { - } )
#### (print(daily_pints_log & frnd_daily_pints_log) mod symbol ( - ) is used to put both sets into one single set
### output will be all  values that do not match between two sets that means values doesn't  show up in both sets. in short out put is opposit of the ampersend one

### Refer command (using caret { ^ } )
#### (print(daily_pints_log & frnd_daily_pints_log) mod symbol ( ^ ) is used to put both sets into one single set
### output will be all  values either in one or the other but not in both sets that means the values are completely unique only to each of the sets

In [150]:
frnd_daily_pints_log = {12,5,7,3,24,5,7,3,2,0}

In [152]:
print(daily_pints_log | frnd_daily_pints_log)

{0, 1, 2, 3, 4, 5, 7, 12, 51, 22, 24, 31}

In [153]:
print(daily_pints_log & frnd_daily_pints_log)

{2, 3, 5}

#### Here daily_pints_log is compared with frnd_daily_pints_log

In [154]:
print(daily_pints_log - frnd_daily_pints_log)

{1, 4, 51, 22, 31}

#### Here  frnd_daily_pints_log is compared with daily_pints_log

In [155]:
print(frnd_daily_pints_log - daily_pints_log)

{0, 24, 12, 7}

In [156]:
print(frnd_daily_pints_log ^ daily_pints_log)

{0, 1, 4, 7, 12, 51, 22, 24, 31}

# Dictionaries
### This is most different among all the previous data types
### A Key/Value pair that means when we use dictionary its not like lists where we have (value comma value) intead we have a key that indicates what that value is attributed to
### we can also add list in a dictionary

In [157]:
Dict_cream = {'name' : 'Alex morgan','weekly intake':5, 'favorite ice creams': ['mcc','Chocolate']}

In [158]:
type(Dict_cream)

dict

In [159]:
print(Dict_cream)

{'name': 'Alex morgan', 'weekly intake': 5, 'favorite ice creams': ['mcc', 'Chocolate']}

In [160]:
Dict_cream.values()

dict_values(['Alex morgan', 5, ['mcc', 'Chocolate']])

In [161]:
Dict_cream.keys()

dict_keys(['name', 'weekly intake', 'favorite ice creams'])

In [163]:
Dict_cream.items()

dict_items([('name', 'Alex morgan'), ('weekly intake', 5), ('favorite ice creams', ['mcc', 'Chocolate'])])

### indexing in dictionaries

In [164]:
Dict_cream['name']

'Alex morgan'

### Replacing values in dictionary

In [165]:
Dict_cream['name'] = 'Chirstine freeman'
print(Dict_cream)

{'name': 'Chirstine freeman', 'weekly intake': 5, 'favorite ice creams': ['mcc', 'Chocolate']}

### Updating all values in dictionary at on
### this action does not delete any value its add up an new key/value pair at the end of the dictionary

In [166]:
Dict_cream.update({'name': 'Chirstine freeman', 'weekly intake': 5, 'weight': 80})
print(Dict_cream)

{'name': 'Chirstine freeman', 'weekly intake': 5, 'favorite ice creams': ['mcc', 'Chocolate'], 'weight': 80}

### but we can chage a speciffic value of the key

In [178]:
Dict_cream.update({'name': 'Chirstine freeman', 'weekly intake': 10, 'weight': 80})
print(Dict_cream)

{'name': 'Chirstine freeman', 'weekly intake': 10, 'favorite ice creams': ['mcc', 'Chocolate'], 'weight': 80}

### deleting key/value pair in dictionary

In [179]:
del Dict_cream['weight']
print(Dict_cream)

{'name': 'Chirstine freeman', 'weekly intake': 10, 'favorite ice creams': ['mcc', 'Chocolate']}

# Comparision, Logical and Membership operators in python

# Comparision operators 
### == (Equal)
### != (Not Equal)
### > (Greater than)
### < (Less than)
### >= (Greater than equal to)
### <= (Less than equal to)
#### Note (Single equal to (=) means assigning the value but double (==) comparision

In [2]:
10 == 50

False

In [3]:
10 != 50

True

In [4]:
'vanilla' == 'vanilla'

True

In [31]:
10<=50

True

In [32]:
10>=50

False

In [38]:
x = 'vanilla'
y = 'chocolate'
x != y

True

# logical operators
### and (Returns True if both statements are true)
### or (Returns True if one of the statements are true)
### not (reverse the result, returns Flase if the result is true)

In [17]:
(10 > 50) and (50 > 10)

False

In [18]:
(10 > 50) or(50 > 10)

True

In [20]:
('vanilla' > 'chocolate') and (50 > 10)

True

In [22]:
not (50 > 10)

False

# Membership operators
### in (checks if a value is found in a sequence.If the value is present, it returns True; otherwise, it returns False.)
### not in (checks if a value is not found in a sequence.If the value is not present, it returns True; otherwise, it returns False.)
### Here sequence can be like a list, tuple, dictionary, string, etc.

In [24]:
ice_cream = "i love ice cream"
'love' in ice_cream

True

In [26]:
'love' in "i love ice cream"

True

In [27]:
scoops = [1,2,3,4,5]
2 in scoops

True

In [29]:
scoops = [1,2,3,4,5]
6 not in scoops

True

In [30]:
scoops = [1,2,3,4,5]
wanted_scoops = 8
wanted_scoops not in scoops

True

# If - Elif - Else Statesment
## We can have many Elif statements but only one If and Else statement

## if

In [39]:
if 25 > 10 :
    print('It worked!')

It worked!

## else

In [46]:
if 25 < 10 :
    print('It worked!')
    
else :
        print("It didn't work..")

It didn't work..

## elif

In [49]:
if 25 < 10 :
    print('It worked!')
elif 25 < 20 :
    print('elif worked!')
elif 25 < 21 :
    print('elif 2 worked!')
elif 25 < 40 :
    print('elif 3 worked!')
elif 25 < 50 :
    print('elif 4 worked!')
    
    
else :
        print("It didn't work..")

elif 3 worked!

## with logical operator (or)

In [50]:
if 25 < 10 or (1 < 3) :
    print('It worked!')
elif 25 < 20 :
    print('elif worked!')
elif 25 < 21 :
    print('elif 2 worked!')
elif 25 < 40 :
    print('elif 3 worked!')
elif 25 < 50 :
    print('elif 4 worked!')
    
    
else :
        print("It didn't work..")

It worked!

## method to add in single line

In [51]:
print('It worked!') if 10>30 else print("It did'nt work..")

It did'nt work..

# Nested If

In [57]:
if 25 < 10 or (1 < 3) :
    print('It worked!')
if 10 > 5:
    print('This nested if statement worked!')
elif 25 < 20 :
    print('elif worked!')
elif 25 < 21 :
    print('elif 2 worked!')
elif 25 < 40 :
    print('elif 3 worked!')
elif 25 < 50 :
    print('elif 4 worked!')
    
    
else :
        print("It didn't work..")

It worked!
This nested if statement worked!

# Loops

# 1) For Loop
### For loops are used to itterate over a sequence and the sequence can be a list, tuple, srting, dictionaries
 ### How a for loop works?
 ### It will look for the first element in the list in this case its is (1) 
 ### Then it will ask is this last elemet in the list if NO then it will go back the list till it reaches the last elemet which is (5) in this case once it reaches last element we will exit the loop
 ## refer codes below

# For loop with Lists

In [58]:
integers = [1,2,3,4,5]

In [59]:
type(integers)

list

# Syntax
### for the variables that is (1,2,3,4,5) a temperory name in the list (integers) now here we can use a tuple, string, dictionaries etc.

In [63]:
for numbers in integers:
    print(numbers)

1
2
3
4
5

In [64]:
for numbers in integers:
    print('Yes')

Yes
Yes
Yes
Yes
Yes

In [65]:
integers = [1,2,3,4,5]

In [66]:
for jelly in integers:
    print(jelly + jelly)

2
4
6
8
10

In [ ]:
# For loop with dictionary

In [67]:
ice_cream_dict = {'name' : 'Alex morgan','weekly intake':5, 'favorite ice creams': ['mcc','Chocolate']}

In [68]:
type(ice_cream_dict)

dict

In [70]:
for cream in ice_cream_dict.values():
    print(cream)

Alex morgan
5
['mcc', 'Chocolate']

In [76]:
for key, value in ice_cream_dict.items():
    print(key)

name
weekly intake
favorite ice creams

In [78]:
for key, value in ice_cream_dict.items():
    print(key,'->',value)

name -> Alex morgan
weekly intake -> 5
favorite ice creams -> ['mcc', 'Chocolate']

# nested for loop

In [81]:
flavours = ['vanilla','chocolate','buttersoch']
topping = ['Hot fudge','oreos','Marshmellows']

In [82]:
for one in flavours:
    for two in topping:
        print(one, 'topped with', two)

vanilla topped with Hot fudge
vanilla topped with oreos
vanilla topped with Marshmellows
chocolate topped with Hot fudge
chocolate topped with oreos
chocolate topped with Marshmellows
buttersoch topped with Hot fudge
buttersoch topped with oreos
buttersoch topped with Marshmellows

# Funtions in python
### def function():
###    print('My first fuction') (this is fuction body)
  
### function() (function call)
### My first fuction (output)
## We can observe that fuction is a block of code which only runs when it is called

In [84]:
def function():
    print('My first fuction')

In [85]:
function()

My first fuction

In [93]:
def first_func():
    print('We did it!')

In [94]:
first_func()

We did it!

In [95]:
def number_squared(number):
    print(number**2)

In [96]:
number_squared(5)

25

In [10]:
args_tuple = (5,6,1,2,8)

def number_squared_cust(number,power):
    print(number**power)

In [98]:
number_squared_cust(5,3)

125

In [ ]:
# arbitaray Arguments

### Arbitary arguments is difeerent beacuse if we are not specfic values we can specify it later when the function is called

In [8]:
def number_args(*number):
    print(number[0]*number[1])

In [12]:
number_args(*args_tuple)

30

# Keyword Argument

In [13]:
def number_squared_cust(number,power):
    print(number**power)

In [14]:
number_squared_cust(power = 5,number = 3)

243

In [31]:
def number_kwarg(**number):
    print("my number is: " + number["integer"] + ", my other number: " + str(number["integer2"]))

In [32]:
number_kwarg(integer = "2309", integer2 = 349)

my number is: 2309, my other number: 349

In [ ]:
# convering data types

In [33]:
num_int = 7
type(num_int)

int

In [40]:
num_str = "7"
type(num_str)

str

In [45]:
num_str_convert = int(num_str)
type(num_str_convert)

int

In [48]:
num_sum = num_int + num_str_convert
print(num_sum)

14

In [ ]:
# Converting lists,sets,tuples

In [49]:
list_type = [1,2,3]
type(list_type)

list

In [ ]:
# converting list into tuple

In [53]:
tuple(list_type)

(1, 2, 3)

In [54]:
type(tuple(list_type))

tuple

In [ ]:
# Converting into sets will change the data refer  below example

In [58]:
list_type1 = [1,2,3,3,1,2,3,2,1]
type(list_type1)

list

In [56]:
set(list_type1)

{1, 2, 3}

In [57]:
type(set(list_type1))

set

In [ ]:
# converting dictionaries

In [59]:
dict_type = {"name": "jake","age": 29,"hair": "N/A"}
type(dict_type)

dict

In [63]:
dict_type.items()

dict_items([('name', 'jake'), ('age', 29), ('hair', 'N/A')])

In [64]:
dict_type.values()

dict_values(['jake', 29, 'N/A'])

In [65]:
dict_type.keys()

dict_keys(['name', 'age', 'hair'])

In [ ]:
# Here we are taking keys from dictionary and converting them into list refer below

In [66]:
list(dict_type.keys())

['name', 'age', 'hair']

In [67]:
type(list(dict_type.keys()))

list

In [68]:
list(dict_type.values())

['jake', 29, 'N/A']

In [69]:
type(list(dict_type.values()))

list

In [70]:
long_str = "I like choclate ice cream"
list(long_str)

['I',
 ' ',
 'l',
 'i',
 'k',
 'e',
 ' ',
 'c',
 'h',
 'o',
 'c',
 'l',
 'a',
 't',
 'e',
 ' ',
 'i',
 'c',
 'e',
 ' ',
 'c',
 'r',
 'e',
 'a',
 'm']

NameError: name 'sets' is not defined

In [72]:
set(list(long_str))

{' ', 'I', 'a', 'c', 'e', 'h', 'i', 'k', 'l', 'm', 'o', 'r', 't'}